1: Database loading and initial analysis
Load the spotify_tracks.csv database and perform an initial analysis according to the tools learned in chapter 2:

Check how many records are in the database
Check how many columns there are in the database
Check which columns are in the database
Check what the column types are in the database
Display the first ten records in the database

In [2]:
import pandas as pd

In [4]:
url = "https://data.cyber.org.il/virtual_courses/introdata/colab/spotify_tracks.csv"

In [5]:
df = pd.read_csv(url)

In [8]:
# check how many records are and columns in the data set 
df.shape

(521260, 17)

In [9]:
# check which columns are in the database 
df.dtypes

name                 object
artists              object
release_year          int64
popularity            int64
duration_minutes    float64
key                  object
mode                  int64
explicit              int64
danceability        float64
energy              float64
loudness            float64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
dtype: object

In [11]:
df.head(10)

,name,artists,release_year,popularity,duration_minutes,key,mode,explicit,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,Carve,Uli,1922,6,2.115050,C,1,0,0.645,0.4450,-13.338,0.4510,0.674,0.744000,0.1510,0.1270,104.851
1,Capítulo 2.16 - Banquero Anarquista,Fernando Pessoa,1922,0,1.636667,C,1,0,0.695,0.2630,-22.136,0.9570,0.797,0.000000,0.1480,0.6550,102.009
2,Vivo para Quererte - Remasterizado,Ignacio Corsini,1922,0,3.027333,C#/Db,1,0,0.434,0.1770,-21.180,0.0512,0.994,0.021800,0.2120,0.4570,130.418
3,El Prisionero - Remasterizado,Ignacio Corsini,1922,0,2.948450,G,1,0,0.321,0.0946,-27.961,0.0504,0.995,0.918000,0.1040,0.3970,169.980
4,Lady of the Evening,Dick Haymes,1922,0,2.718000,D#/Eb,0,0,0.402,0.1580,-16.900,0.0390,0.989,0.130000,0.3110,0.1960,103.220
5,Ave Maria,Dick Haymes,1922,0,2.982217,F,1,0,0.227,0.2610,-12.343,0.0382,0.994,0.247000,0.0977,0.0539,118.891
6,La Butte Rouge,Francis Marty,1922,0,2.241117,E,1,0,0.510,0.3550,-12.833,0.1240,0.965,0.000000,0.1550,0.7270,85.754
7,La Java,Mistinguett,1922,0,2.690450,E,1,0,0.563,0.1840,-13.757,0.0512,0.993,0.000016,0.3250,0.6540,133.088
8,Old Fashioned Girl,Greg Fieler,1922,0,5.167883,C,0,0,0.488,0.4750,-16.222,0.0399,0.620,0.006450,0.1070,0.5440,139.952
9,Martín Fierro - Remasterizado,Ignacio Corsini,1922,0,3.019550,F#/Gb,1,0,0.548,0.0391,-23.228,0.1530,0.996,0.933000,0.1480,0.6120,75.595

2: Calculate the mean, median, range, and standard deviation of song durations in minutes. Before you do this, try to guess for yourself what the mean or median will be.

In [12]:
# mean
df['duration_minutes'].mean()

3.746077402927522

In [13]:
# median
df['duration_minutes'].median()

3.5686666666666667

In [14]:
# range
df['duration_minutes'].max() - df['duration_minutes'].min()

12.21945

In [17]:
# standard deviation 
df['duration_minutes'].std()

1.4376194631584824

3: Filter the database and search for Coldplay songs. Calculate the average length of the band's songs and answer the question:
The average duration of Coldplay's songs is shorter than the average of all the songs in the database.

In [19]:
coldplay_songs = df[df['artists'] == "Coldplay"]

In [20]:
average_length = coldplay_songs['duration_minutes'].mean()

In [21]:
print(average_length)

4.533862096774193

In [23]:
if average_length < df['duration_minutes'].mean():
  print("yes")
else:
  print("no")

no

4: Filter the database and search for Chava Alberstein's songs. Calculate the average length of the singer's songs as well as the median, and answer the question:
The difference between the average and the median of the length of Hava Elberstein's poems is grater than the difference between the average and the median of the total poems in the database.

In [24]:
Chava_Alberstein_songs = df[df['artists'] == "Chava_Alberstein"]

In [29]:
Chava_Alberstein_median = Chava_Alberstein_songs['duration_minutes'].median()

In [30]:
Chava_Alberstein_mean = Chava_Alberstein_songs['duration_minutes'].mean()

In [33]:
if(Chava_Alberstein_mean - Chava_Alberstein_median < df['duration_minutes'].mean() - df['duration_minutes'].median() ):
  print("yes")
else:
  print("no")

no

5:  The value 1 indicates a major scale, and the value 0 indicates a minor scale.
Calculate the frequency table for the mode column on the database. What type of scale is more common? What is the ratio?

In [34]:
df['mode'].value_counts()

1    342555
0    178705
Name: mode, dtype: int64

6:The key column indicates the musical scale of the song. Calculate the relative frequency table of the musical scales in the songs of the database. Sort the table by scale name.

In [35]:
df['key'].value_counts(normalize=True).sort_index()

A        0.111459
A#/Bb    0.064043
B        0.066360
C        0.127742
C#/Db    0.071145
D        0.113811
D#/Eb    0.036437
E        0.082005
F        0.091354
F#/Gb    0.052707
G        0.126229
G#/Ab    0.056709
Name: key, dtype: float64

7:Compare the following two artists according to the musical scales - which scales do each prefer in relation to the other? in relation to the rule? Is it correct to use a frequency table or a relative frequency table?

Arik Einstein
Leonard Cohen

In [36]:
leonard_cohen_df = df[df['artists'] == 'Leonard Cohen']
print(leonard_cohen_df.shape)
leonard_cohen_df['key'].value_counts(normalize=True).sort_index()

(91, 17)

A        0.142857
A#/Bb    0.032967
B        0.054945
C        0.109890
C#/Db    0.032967
D        0.054945
D#/Eb    0.043956
E        0.131868
F        0.164835
F#/Gb    0.054945
G        0.164835
G#/Ab    0.010989
Name: key, dtype: float64

In [43]:
arik_eins_df = df[df['artists'] == 'Arik Einstein']
print(arik_eins_df.shape) 
arik_eins_df['key'].value_counts(normalize=True).sort_index()

(106, 17)

A        0.075472
A#/Bb    0.094340
B        0.028302
C        0.235849
C#/Db    0.037736
D        0.198113
D#/Eb    0.018868
E        0.094340
F        0.047170
F#/Gb    0.018868
G        0.113208
G#/Ab    0.037736
Name: key, dtype: float64

One can observe variations in the musical preferences between the two artists. As an illustration, Leonard Cohen's compositions frequently use the A, F and G scales, yet these same scales are less prevalent in Eric Einstein's works, both in comparison to Leonard Cohen's usage and compared to the general population. Conversely, the C scale is a regular feature in Eric Einstein's songs, both in contrast to Leonard Cohen's usage and in relation to the overall musical community.